/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET SECTION */

html {
    font-family: 'Dosis', sans-serif;
}

* {
    width: 100%;
}

body {
    width: 1500px;
    margin: 1% 20% 1% 20%;
    background: black;
}
.container1 {
    display: flex;
    flex-direction: row;
    border: 20px black;
    height: 10vh;
    width: 100%;
    justify-content: flex end;
    justify-content: space-evenly;
    background: #27CBB8;
}

h2 {
    margin-left: 30px;
    margin-top: 20px;
}
.navmain {
    display: flex;
    border: 10px black;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 50%;
    cursor: pointer;
}

.title {
    font-size: 5rem;
    font-weight: bolder;
}

nav a{
    margin-right: 10%;
    text-decoration: none;
    font-size: 30px;
    border: 10px solid black;
    border-radius: 20px;
    background: black;
    color: white;
  }

  nav a:hover {
      background: white;
      color: black;

  }

  h1 {
      font-size: 6rem;
      font-weight: bolder;
      text-align: center;
  }

  .section1 {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      flex-flow: column;
      width: 75%;
      height: 40vh;
      margin: 0 10% 0 12.5%;
      border: 20px black;
      background:tomato;
  }

  .section1 nav {
      text-align: center;
      margin-left: 40px;
  }

  .flexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10px;
   }

  .image {
    background:url('https://picsum.photos/300');
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    padding: 3%;
    margin-left: 80px;
    cursor: pointer;
  }
  
  .text {
      opacity: 0;
      transition: .3s;
      

  }

  .text a {
    font-family: arial;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }

  .image:hover .text{
      opacity: 1;
  }

  p {
      text-align: center;
      font-size: 2rem;
  }

  .footer {
      border: 1px solid green;
      height: 10vh;
      width: 1500px;
      background: #27CBB8;
      text-align: center;
      margin-top: -80px;
  }

  .bottomnav {
      margin-left: 65px;
      margin-top: 50px;
  }
